.movies-line {
  background: #E8E8E8;
  max-width: 100%;
  height: 1px;
  margin: 0 70px 10px;
}

@media screen and (max-width: 768px) {

  .movies-line {
    margin: 0 30px 10px;
  }
}

@media screen and (max-width: 425px) {
  .movies-line {
    margin: 0 10px 10px;
  }
}

