.registration-login {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #000000;
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  box-sizing: border-box;
}

.registration-login__logo-link {
  display: block;
  width: 38px;
  height: 38px;
  background: transparent url(../../images/logo.svg) no-repeat center / contain;
  margin-bottom: 40px;
}

.registration-login__title {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;

}

.registration-login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registration-login__label {
  margin: 10px 0;
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration-login__input {
  margin-bottom: 10px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background: #F9F9F9;
  padding: 0 15px;
}

.registration-login__input:focus {
  outline: solid 2px #F3C1F8;
}

.registration-login__input_type_error {
  color: #FF3055;
}

.registration-login__error {
  display: none;
  color: #FF4062;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #FFFFFF;
}

.registration-login__error_visible {
  display: block;
}


.submit-error-wrapper {
  position: relative;
  width: 100%;
}

.submit-error {
  width: 100%;
  position: absolute;
  bottom: 65px;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration-button {
  width: 100%;
  border: none;
  border-radius: 3px;
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0 15px;
  margin-top: 69px;
}

.registration-login__text {
  color: #A0A0A0;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px 0 0;
}

.registration-login__link {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 6px;
}

.button-transition {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.button-transition:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.button_disabled:hover {
  cursor: default;
}

.link-transition {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.link-transition:hover {
  opacity: 0.7;
  cursor: pointer;
}

.block-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .registration-login {
    padding-top: 132px;
  }
}

@media screen and (max-width: 768px) {
  .registration-login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 425px) {
  .registration-login {
    padding: 56px 30px 0;
    margin: 0 auto;
    width: 100%;
  }

  .registration-login__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .registration-login__logo-link {
    margin: 0 auto;
  }

  .registration-login__form {
    max-width: 100%;
  }

  
  .registration-login__input {
    font-size: 13px;
  }

  /* .registration-login__button {
  } */
  
  .registration-button {
    font-size: 12px;
    height: 45px;
    margin-top: 157px;

   }

  .registration-login__text {
    font-size: 12px;
    margin-top: 14px;
  }

  .registration-login__link {
    margin-left: 7px;
  }

}